.gameCanvas {
  width: 1440px;
  height: 768px;
  background-color: #fff;
}

.card {
  max-width: 502px;
  min-height: 150px;
  background-color: black;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  border: 2px solid #fff;
  outline: 10px solid #000;
}

.square {
  min-width: 55.55px;
  min-height: 50px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
}

.square:nth-child(2n) {
  background-color: #fff;
}

.square:nth-child(9), .square:nth-child(27) {
  background-color: #fff;
}